<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>initializingServlet</servlet-name>
        <servlet-class>huang.servlets.initializingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>initializingServlet</servlet-name>
        <url-pattern>/initializingServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>datafetchServlet</servlet-name>
        <servlet-class>evan.servlets.datafetchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>datafetchServlet</servlet-name>
        <url-pattern>/datafetchServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>datastoreServlet</servlet-name>
        <servlet-class>evan.servlets.datastoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>datastoreServlet</servlet-name>
        <url-pattern>/datastoreServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>huang.servlets.logoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>onloadindexServlet</servlet-name>
        <servlet-class>huang.servlets.onloadindexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>onloadindexServlet</servlet-name>
        <url-pattern>/onloadindexServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>Chen.Servlet.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLoadingServlet</servlet-name>
        <servlet-class>Chen.Servlet.UserLoadingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoadingServlet</servlet-name>
        <url-pattern>/UserLoadingServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>huang.servlets.searchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>rankServlet</servlet-name>
        <servlet-class>huang.servlets.rankServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rankServlet</servlet-name>
        <url-pattern>/rankServlet</url-pattern>
    </servlet-mapping>
</web-app>